body {
  /*background-color: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.Welcome-RazzZ {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 0 0 0px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
  
  z-index: 2;
  white-space: nowrap;
  font-family: Papyrus, fantasy; 
  font-size: 3.5em;
  font-style: normal; 
  font-variant: normal; 
  text-align: center;
}


.Welcome-RazzZ span {
  opacity: 0;
  display: inline-block;
  animation: fadeInOut 10s infinite;
}

.Welcome-RazzZ span:nth-child(1)  { animation-delay: 0s; }
.Welcome-RazzZ span:nth-child(2)  { animation-delay: 0.2s; }
.Welcome-RazzZ span:nth-child(3)  { animation-delay: 0.4s; }
.Welcome-RazzZ span:nth-child(4)  { animation-delay: 0.6s; }
.Welcome-RazzZ span:nth-child(5)  { animation-delay: 0.8s; }
.Welcome-RazzZ span:nth-child(6)  { animation-delay: 1.0s; }
.Welcome-RazzZ span:nth-child(7)  { animation-delay: 1.2s; }
.Welcome-RazzZ span:nth-child(8)  { animation-delay: 1.4s; }
.Welcome-RazzZ span:nth-child(9)  { animation-delay: 1.6s; }
.Welcome-RazzZ span:nth-child(10) { animation-delay: 1.8s; }
.Welcome-RazzZ span:nth-child(11) { animation-delay: 2.0s; }
.Welcome-RazzZ span:nth-child(12) { animation-delay: 2.2s; }
.Welcome-RazzZ span:nth-child(13) { animation-delay: 2.4s; }
.Welcome-RazzZ span:nth-child(14) { animation-delay: 2.6s; }
.Welcome-RazzZ span:nth-child(15) { animation-delay: 2.8s; }
.Welcome-RazzZ span:nth-child(16) { animation-delay: 3.0s; }
.Welcome-RazzZ span:nth-child(17) { animation-delay: 3.2s; }

@keyframes fadeInOut {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  40%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}
.header{
  background-color: rgb(3, 42, 94);  
}
.logo-name{
  padding: 0.5em;
  font-size: 2.5em;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
#R{
 color: red;
}
#a{
  color: #ffffff;
}
.z{
  color: #ffffff;
}
#Z{
  color: red;
}
#Home{
  background-color: rgb(40, 160, 90);
}
#About{
  background-color: rgb(0, 255, 0);
}
#Discord{
  background-color: rgb(0, 89, 255);
}
.nav-item{
  margin: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: .5em;
}
.logo-img{
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}
.bg-image {
  width: 100%;
  height: auto;
}

.background-image {
  position: relative;
}

.img .bg-image {
  width: 100%;
  display: block;
}
.about-title{
  font-size: 3em;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  color: linear-gradient( to top, #05055a, #d400ff);
  text-shadow: 0 0 0px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.about-text{
  padding: 1em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #05055a;
  text-shadow: 0 0 0px rgb(255, 0, 255),
    0 0 20px rgb(255, 0, 255),
    0 0 40px rgb(255, 0, 255),
    0 0 80px rgb(255, 0, 255);
  font-family: "Lucida Bright", Georgia, serif;
}
.feature-title{
  font-size: 3em;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  color: linear-gradient( to top, #05055a, #9b11c5);
  text-shadow: 0 0 0px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.feature-text{
  padding: 1em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#about-section {
  background: linear-gradient( to top, #d400ff, #05055a);
}
.left-list{
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #05055a;
  text-shadow: 0 0 0px rgb(76, 0, 255),
    0 0 20px rgb(76, 0, 255),
    0 0 40px rgb(76, 0, 255),
    0 0 80px rgb(76, 0, 255);
  
}
.right-list{
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: #05055a;
  text-shadow: 0 0 0px rgb(76, 0, 255),
    0 0 20px rgb(76, 0, 255),
    0 0 40px rgb(76, 0, 255),
    0 0 80px rgb(76, 0, 255);
}
.feature-list{
  margin-left: 3em;
  margin-bottom: 0;
  font-family: "Arial Narrow", Arial, sans-serif; font-size: 24px; font-style: normal;
  font-style: italic;
}
.footer{
  background-color: rgb(3, 42, 94);
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
}


/*.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
Also you can set margin

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}*/